html, body {
	background-color: #111;
	padding: 0;
	height: 100%;
	margin: 0;
}

#CanvasHolder {
	width: 1000px;
	height: 535px;
	background-color: black;
	position: relative;
	z-index: 1;
}

#BackgroundLayer {
	position: absolute;
	top: 0; left: 0;
	z-index: 10;
}

#ItemLayer {
	position: absolute;
	top: 0; left: 0;
	z-index: 20;
}

#CharacterLayer {
	position: absolute;
	top: 0; left: 0;
	z-index: 30;
}

#ClickLayer {
	position: absolute;
	top: 0; left: 0;
	z-index: 40;
}

#login {
	position: absolute;
	z-index: 100;
	width: 300px;
	height: 150px;
	margin: auto;
	left: 0; top: 0; right: 0; bottom: 0;
	background: linear-gradient(#111, #010101, #111);
	text-align: center;
	font-size: 16px;
	border-radius: 20px;
	font-family: verdana; 
	color: whitesmoke;
	border: 5px solid #222;
}

#login>span {
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 15px;
}

#login>div {
	text-align: center;
	margin-bottom: 10px;
}

#login>div>label {
	width: 80px;
	font-size: 14px;
	display: inline-block;
}

#login>div>input {
	font-size: 16px;
	width: 200px;
	background-color: #222;
	color: transparent;
	border: none;
	outline-color: #777;
	text-align: center;
	text-shadow: 1px 0px 0px whitesmoke;
}

#login>button {
	float: right;
	margin-top: 13px;
	margin-right: 10px;
	background-color: #222;
    color: green;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

#warnText {
	color: #773300;
	margin-top: 20px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
}

#minimap {
	position: absolute;
	top: 0;
	left: 1005px;
	width: 270px;
	background-color: black;
	height: 270px;
}

#chat {	
	position: absolute;
	top: 275px;
	left: 1005px;
	height: calc(100% - 280px);
	width: 270px;
	background-color: black;
}

#history {
	position: absolute;
	top: 540px;
	left: 0;
	height: calc(100% - 545px);
	width: 1000px;
	background-color: black;
}