html, body {
	background-color: #111;
	padding: 0;
	height: 100%;
	margin: 0;
}

#CanvasHolder {
	width: 1000px;
	height: 535px;
	background-color: black;
	position: relative;
	z-index: 1;
}

#BackgroundLayer {
	position: absolute;
	top: 0; left: 0;
	z-index: 10;
}

#ItemLayer {
	position: absolute;
	top: 0; left: 0;
	z-index: 20;
}

#CharacterLayer {
	position: absolute;
	top: 0; left: 0;
	z-index: 30;
}

#ClickLayer {
	position: absolute;
	top: 0; left: 0;
	z-index: 40;
}

#login {
	position: absolute;
	z-index: 100;
	width: 300px;
	height: 150px;
	margin: auto;
	left: 0; top: 0; right: 0; bottom: 0;
	background: linear-gradient(#111, #010101, #111);
	text-align: center;
	font-size: 16px;
	border-radius: 20px;
	font-family: verdana; 
	color: whitesmoke;
	border: 5px solid #222;
}

#login>span {
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 15px;
}

#login>div {
	text-align: center;
	margin-bottom: 10px;
}

#login>div>label {
	width: 80px;
	font-size: 14px;
	display: inline-block;
}

#login>div>input {
	font-size: 16px;
	width: 200px;
	background-color: #222;
	color: transparent;
	border: none;
	outline-color: #777;
	text-align: center;
	text-shadow: 1px 0px 0px whitesmoke;
}

#login>button {
	float: right;
	margin-top: 13px;
	margin-right: 10px;
	background-color: #222;
    color: green;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

#warnText {
	color: #773300;
	margin-top: 20px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
}

#minimap {
	position: absolute;
	top: 0;
	left: 1005px;
	width: 270px;
	background-color: black;
	height: 186.667px;
}

#minimapMap {
	position: absolute;
	left:0; top:0; right:0; bottom: 0;
	margin: auto;
	width: 250px;
	height: 166.667px;
	background-color: rgba(30, 255, 120, .2);
}

#minimapCursor {
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid green;
	width: 63px;
	height: 33px;
}

#chat {	
	position: absolute;
	top: 191.667px;
	left: 1005px;
	height: calc(100% - 196.667px);
	width: 270px;
	background-color: black;
}

.chat-id {
	color: #696969;
	padding-right: 15px;
}

.chat-message {
	padding: 15px;
	border: 1px solid #001211;
	box-sizing: border-box;
	margin-bottom: 5px;
	font-family: monaco;
	background: linear-gradient(#04041a, #001, #000f1f);
}

.chat-user {
	width: 100%;
	height: 30px;
	border: 1px solid #333;
	box-sizing: border-box;
	color: #696969;
	position: relative;
	line-height: 30px;
	padding-left: 5px;
	background: linear-gradient(#050505, black, #111);
}

.chat-status {
	position: absolute;
	right: 5px;
	color: #a82c51;
}

.status-online {
	color: #3e7d85;
}

.active-user {
	color: #0c515a;
}

#users {
	width: 100%;
	height: 120px;
	background-color: black;
	overflow-y: scroll;
	padding: 5px;
	box-sizing: border-box;
}

#chatDisplay {
	width: 100%;
	height: calc(100% - 160px);
	background-color: #001;
	overflow-y: scroll;
	padding: 5px;
	box-sizing: border-box;
	color: #424242;
}

#chatInput {
	background-color: #111;
	border: 1px solid #444;
	color: whitesmoke;
	font-size: 16px;
	outline-color: rgba(0, 100, 50, .2);
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
}

#history {
	position: absolute;
	top: 540px;
	left: 0;
	height: calc(100% - 545px);
	width: 1000px;
	background-color: black;
	overflow-y: scroll;
	padding: 10px;
	color: rgba(30, 255, 120, .3);
	box-sizing: border-box;
}

.history-text {
	background: linear-gradient(#111, black, #111);
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	border: 2px solid #111;
	box-shadow: 0px 0px 2px 2px #070707 inset;
	font-family: monaco;
}

.history-time {
	color: #102d44;
	font-size: 14px;
	text-shadow: 1px 1px #05312d;
	font-family: verdana;
	font-weight: bold;
}

#adminPanel {
	position: absolute;
	left: 0;
	top: 0;
	width: 1000px;
	height: 535px;
	background-color: rgba(0, 15, 0, 1);
	z-index: 10;
	color: whitesmoke;
	padding: 30px;
	box-sizing: border-box;
	display: none;
}